# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# Large data files
similarity.pkl
*.csv


# Jupyter notebooks
*.ipynb
.ipynb_checkpoints/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db